{% load staticfiles %}
{% include 'instaapp/includes/head.html' %}
{% include 'instaapp/includes/nav.html' %}
<div id="content" class="container">
    
        <div class="col-sm-6 col-sm-offset-3">
    <h3>Suggested Users: 
        {% if text %}
            {% for x in text %}
                {{x}}
            {% endfor %}
            {% else %}
            Nobody atm...</h3>
        {% endif %}
    <br>
    <br>
                            <form 
                                method="post"
                                action="{% url 'instaapp:delsuggest' %}"
                                class="comment-form">
                                {% csrf_token %}
                                
                                <button class="btn btn-primary btn-block" type="submit">Delete</button>
                            </form>
    
                        </div>
        

</div>
<!-- <body oncontextmenu="return false;"> -->
{% include 'instaapp/includes/foot.html' %}
<script src="{% static "instaapp/js/jquery.form.min.js" %}"></script>
<script src="{% static "instaapp/js/profile.js" %}"></script>
