{% load staticfiles %}
{% include 'instaapp/includes/head.html' %}
{% include 'instaapp/includes/nav.html' %}

<div class="content-section container" >
    <h3>Add Suggestion</h3>
   
                            <form 
                                method="post"
                                action="{% url 'instaapp:suggest' %}"
                                class="comment-form">
                                {% csrf_token %}
                                {{form.as_p}}<br>
                                <button class = "btn btn-primary" type="submit">Send</button>
                            </form>
                            
                        </div>
{% include 'instaapp/includes/foot.html' %}